<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta charset="UTF-8">

    <meta name="description" content="UX Researcher, Data Analyst, and Full-Stack Web Developer">
    <meta name="keywords" content="susan renaud, portfolio, ux, user research, research, full stack web development, web development, data analyst, data analysis, ruby on rails, le wagon">
    <meta name="author" content="Susan Renaud">
    <title>Susan Renaud - Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300,400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Facebook Open Graph data -->

    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar navbar-expand-md navbar-light">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "NewLogo2.png" %>
      <% end %>
      <h2 id="name">Susan Renaud</h2>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to('About', root_path) %>
          </li>
          <li class="nav-item active">
            <%= link_to('Projects', projects_path) %>
          </li>
          <li class="nav-item active">
            <%= link_to('Resume', "/UXCVcompressed.pdf", target: "_blank") %>
          </li>
          <li class="nav-item active">
            <%= link_to "Contact", contact_path, class: "contact" %>
          </li>
        </ul>
      </div>
    </div>

    <%= yield %>
    <div class="footer">
    <div class="in-touch">Get in touch!</div>
    <div class="footer-links col">
      <a href="https://github.com/susan-renaud"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/susan_renaud/?hl=en"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/profile.php?id=1530420089"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/susanrenaud"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/susanelizabethrenaud/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright col">
    Designed and coded with <i class="fas fa-heart"> </i>by Susan Renaud
    </div>
  </div>
  </body>
</html>
